@main("_") {
<div>
  <script>
    var req = new XMLHttpRequest();

    function populateTable(element, index, array) {
      var table   = document.getElementsByTagName("tbody")[0];
      var tr      = document.createElement("tr")
      var sTxt    = document.createTextNode(element.sender);
      var cTxt    = document.createTextNode(element.content)
      var sender  = document.createElement("td");
      var content = document.createElement("td");

      sender.appendChild(sTxt);
      content.appendChild(cTxt);
      tr.appendChild(sender);
      tr.appendChild(content);
      table.appendChild(tr);
    }

    function reqListener () {
      var text = this.responseText;
      var json = JSON.parse(text);
      json.forEach(populateTable)
    }

    req.addEventListener("load", reqListener);
    req.open("GET","/data/messages");
    req.send();
  </script>
  <h1>A quick example showing Play Slick.</h1>
  <table>
    <caption>Messages</caption>
    <thead>
      <tr>
        <th>Sender</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


}
